* {
}


header {
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 2px solid #949494;
padding-bottom: 20px;
margin-bottom: 30px;
}


header h1 {
margin: 0;
font-size: 32px;
}


header h2 {
margin: 5px 0 0;
font-weight: normal;
color: #666;
}


.contact {
text-align: right;
font-size: 14px;
color: #555;
}


section {
margin-bottom: 30px;
}


section h3 {
margin-bottom: 10px;
color: #000000;
border-bottom: 2px solid #000000;
display: inline-block;
padding-bottom: 4px;
}


.item {
margin-bottom: 15px;
}


.item h4 {
margin: 0;
font-size: 16px;
}


.item span {
font-size: 13px;
color: #777;
}


ul {
padding-left: 20px;
}


@media (max-width: 600px) {
header {
flex-direction: column;
align-items: flex-start;
}


.contact {
text-align: left;
margin-top: 10px;
}
}